*{
    margin: 0px;

}

body{
    background-color: #0F1924;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3em;
    color: #848C95;
    width: 100%;
    height: 100%;
}

header{
    background-color: #171D25;
    width: 100vw;
    min-height: 100px;
    max-height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > a > img{
    max-width: 600px;
    height: 100px;
}

header nav a{
    padding: 10px;
    text-decoration: none;
    color: #848C95;
}

div{
    position: relative;
    top: 70px;
    left: 30px;
    width: 400px;

}

#categoria a{
    color: #848C95;
    text-decoration: none;
}

#categoria a:hover{
    color: #5FB3E4;

}

header nav a:hover{
    color: #FFFF;
}

footer{
    background-color: #171D25;
    min-width: 100%;
    max-width: 60px;
    position: absolute;
    bottom: 0%;
    text-align: center;
    align-items: center;
    padding-top: 9px;
}